{% extends 'DeepMedApp/base.html' %}
{% load static %}

{% block title %} Create Patient Record {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/create_record.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Create Patient Record</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="patient-name">Patient Name:</label>
            <input type="text" id="patient-name" name="name" value="John Doe" required>
        </div>
        
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="35" required>
        </div>
        
        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="contact-number">Contact No:</label>
            <input type="text" id="contact-number" name="contact_number" value="1234567890" required>
        </div>
        
        <div class="form-group">
            <label for="diagnosis">Diagnosis:</label>
            <input type="text" id="diagnosis" name="diagnosis" value="Healthy" required>
        </div>
        
        {% comment %} <div class="form-group">
            <label for="admission-date">Admission Date:</label>
            <input type="date" id="admission-date" name="admission_date" value="{{ today_date }}" required>
        </div> {% endcomment %}
        
        <div class="form-group">
            <button type="submit" class="btn">Submit Record</button>
        </div>
    </form>
</div>
{% endblock %}
