{% extends 'DeepMedApp/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="landing-container">
    <h1 class="landing-title">DeepMed Vision</h1>
    <h2 class="landing-subtitle">The Ultimate Medical Imaging Suite</h2>
    <div class="landing-buttons">
        <a href="{% url 'create_record' %}" class="btn">Get Started</a>
        {% comment %} <a href="{% url 'contact' %}" class="btn">Contact Us</a> {% endcomment %}
    </div>
</div>
{% endblock %}
