{% extends 'DeepMedApp/base.html' %}
{% load static %}

{% block title %} Landing Page {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="landing-container">
    <h1 class="landing-title">DeepMed Vision</h1>
    <h2 class="landing-subtitle">The Ultimate Medical Imaging Suite</h2>
    <div class="landing-buttons">
        <a href="{% url 'loginuser' %}" class="btn"><b>Login</b></a>
        <a href="{% url 'signupuser' %}" class="btn"><b>Sign Up</b></a>
    </div>
</div>
{% endblock %}
