{% extends 'DeepMedApp/base.html' %}
{% load static %}

{% block title %} Signup {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/login-styles.css' %}">
{% endblock %}

{% block content %}
    <div class="box">
        <form action="">
            <div class="input-box">
                <h2>Sign Up</h2>
                <input type="text" name="Name Field" required>
                <span>Name</span>
                <i></i>
            </div>
            <div class="input-box">
                <input type="text" name="Email Field" required>
                <span>Email Address</span>
                <i></i>
            </div>
            <div class="input-box">
                <input type="password" name="Password Field" required>
                <span>Enter Password</span>
                <i></i>
            </div>
            <div class="input-box">
                <input type="password" name="Password Confirmation Field" required>
                <span>Confirm Password</span>
                <i></i>
            </div>
            <input type="submit" value="Sign Up">
            <div class="links">
                <a href="#">Help</a>
                <a href="login.html">Log in</a>
            </div>
        </form>
    </div>
{% endblock %}
